          <tr>
              <td class="pv3 pr3 bb b--black-20"><%= person.name %></td>
              <td class="pv3 pr3 bb b--black-20">Movies Acted</td>
              <td class="pv3 pr3 bb b--black-20">Movies Directed</td>
          </tr>
