<nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
  <a title="" href="#"
      class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
    Features
  </a>
  <a title="" href="#"
      class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
    Directors
  </a>
  <a title="" href="#"
      class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
    Actors
  </a>
  <a title="Source on GitHub" href="http://github.com/blj/movies/"
      class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dn dib-l">
    GitHub
  </a>
</nav>