        <tr>
          <td class="pv3 pr3 bb b--black-20"><%= link_to feature.title, feature_path(feature.id) %></td>
          <td class="pv3 pr3 bb b--black-20">2012</td>
          <td class="pv3 pr3 bb b--black-20">Joss Whedon</td>
          <td class="pv3 pr3 bb b--black-20">Robert Downey Jr., Chris Evans, Scarlett Johansson</td>
        </tr>
